body {
    width: 80%;
    margin: 0 auto;

}

.frame {
    background-color: #39C;
    border: 25px solid #2B81AC;
}

.grid {
    background-color: #fff;
    text-align: center;
}

section {
width: 1440px;
font-size: 0;
background-color: fff;

}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.grid{
    width: 1070px;
    margin: 0px auto;
}

.grid div {
    background-color: #fff;
    padding: 26px 0px;
    display: inline-block;
    color: #fff;
    border: 0px solid;
}

.grid div {
    font-size: 22px;
}

div:nth-child(1) {
    background-color: rgb(51, 153, 204, 0.7);
}

div:nth-child(1):hover {
    background-color: rgb(51, 153, 204, 1);
}

div:nth-child(2) {
    background-color: rgba(51, 204, 204, .7);
}

div:nth-child(2):hover {
    background-color: rgb(51, 204, 204, 1);
}

div:nth-child(3) {
    background-color: rgba(153, 102, 153, .7);
}

div:nth-child(3):hover {
    background-color: rgb(153, 102, 153, 1);
}

div:nth-child(4) {
    background-color: rgba(194, 71, 71, .7);
}

div:nth-child(4):hover {
    background-color: rgb(194, 71, 71, 1);
}

div:nth-child(5) {
    background-color: rgba(226, 103, 74, .7);
}

div:nth-child(5):hover {
    background-color: rgb(226, 103, 74, 1);
}

div:nth-child(6) {
    background-color: rgba(255, 204, 102, .7);
}

div:nth-child(6):hover {
    background-color: rgb(255, 204, 102, 1);
}

div:nth-child(7) {
    background-color: rgba(153, 204, 153, .7);
}

div:nth-child(7):hover {
    background-color: rgb(153, 204, 153, 1);
}

div:nth-child(8) {
    background-color: rgba(102, 153, 153, .7);
}

div:nth-child(8):hover {
    background-color: rgb(102, 153, 153, 1);
}

div:nth-child(9) {
    background-color: rgba(204, 102, 153, .7);
}

div:nth-child(9):hover {
    background-color: rgb(204, 102, 153, 1);
}

div:nth-child(10) {
    background-color: rgba(51, 153, 102, .7);
}

div:nth-child(10):hover {
    background-color: rgb(51, 153, 102, 1);
}

div:nth-child(11) {
    background-color: rgba(102, 102, 153, .7);
}

div:nth-child(11):hover {
    background-color: rgb(102, 102, 153, 1);
}

.temp{
    margin-top: 10px;
}

p {
    margin: 0;
    padding: 0;
}

.frame p {
    color: #fff;
}

.forecast {
    font-size: 21px;
    padding-top: 60px;
    padding-bottom: 37px;
    margin-left: 135px;
}

.nice_day {
    font-size: 16px;
    padding-top: 37px;
    padding-bottom: 119px;
    margin-left: 135px;
}

.item {
    padding: 10px;
    box-shadow: 0 0 0 2px #fff inset;
  }



