body {
    font-family: "Roboto", sans-serif;
    background-color: #181818;
}

header {
    background: #4a4f56;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 12px;
}

header h1,
.header_p {
    color: #ff8984;
}


.shop_list {
    background-color: #3b3f45;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

.header_p {
    font-size: 16px;
    font-weight: 400;
}

header h1,
p :not(:last-child) {
    margin-bottom: 4px;
}

.list_wrapper {
    width: 534px;
    margin: 0 auto;
    margin-top: 20px;
}

.list p {
    display: inline-block;
}

.list {
    width: 534px;
}

.list li:nth-child(2n + 1) {
    background-color: #88839e;
}

.list li:nth-child(2n) {
    background-color: #7a7593;
}

.item {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 13px;
}

.comment {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    position: relative;
    top: -2.6px;
    margin-left: 3px;
    padding-top: 12px;
    padding-bottom: 17px;
}

input[type="checkbox"] {
    display: none;
}

.fake_checkbox {
    width: 19px;
    height: 19px;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 12px;
    margin-right: 16px;
}

input[type="checkbox"]:checked+.fake_checkbox {
    background-image: url(https://cdn-icons-png.flaticon.com/512/60/60731.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.list_item {
    background: #fff;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.list_item:hover {
    border-color: white;
}

.list_item:has(.inp:checked)>p {
    color: #a0a0a0b6;
    text-decoration: line-through;
}

.list_item:has(.inp:active) {
    background-color: #ff8888cc;
    transition: all 5sec ease-in-out;
}

.list_item:has(.inp:checked) {
    opacity: 0.9;
}

.bon {
    width: 534px;
    background-color: #4a4f56;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 45px;
    min-height: 45px;
}

.bon p {

    text-align: center;
    color: #ff8984;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 0;
}

.bor {
    background-color: #3B3F45;
    margin: 0 auto;
    min-height: 1px;
}